NEXT_PUBLIC_API_BASE_URL=http://localhost:5000/api

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDu9j-EdaiBUc5Tovs0bliWRFSCKfeSQEk
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=voltpay-3554d.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=voltpay-3554d
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=voltpay-3554d.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=10337066450
NEXT_PUBLIC_FIREBASE_APP_ID=1:10337066450:web:6fcfa6e98c89472f437c0b
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-LKBY48TE2H
